/**
 * @name System theme
 * @author TotalTaxAmount
 * @version 1.0.0
 * @description Changing system theme for Discord
 * @source https://github.com/TotalTaxAmount/nix
**/
:root {
  --sys-background: @base00@ !important;
  --sys-current-line: @base01@ !important;
  --sys-selection: @base02@ !important;
  --sys-foreground: @base05@ !important;
  --sys-comment: @base03@ !important;
  --sys-cyan: @base0A@ !important;
  --sys-green: -base0B@ !important;
  --sys-orange: @base08@ !important;
  --sys-pink: @base0E@ !important;
  --sys-purple: @base0D@ !important;
  --sys-red: @base09@ !important;
  --sys-yellow: --@base0C@ !important;
  --sys-line-highlight: @base00@75 !important;
  --sys-non-text: @base03@1a !important;
  --sys-white: @base07@ !important;
  --sys-tab-drop-background: @base07@70 !important;
  --sys-background-lighter: @base04@;
  --sys-background-alt: @base00@ !important;

  --activity-card-background: var(--sys-background) !important;
  --background-accent: var(--sys-current-line) !important;
  --background-floating: var(--sys-background) !important;
  --background-mobile-primary: var(--sys-background) !important;
  --background-mobile-secondary: var(--sys-background-lighter) !important;
  --background-modifier-selected: var(--sys-current-line) !important;
  --background-primary: var(--sys-background) !important;
  --home-background: var(--sys-background-alt) !important;
  --background-secondary-alt: var(--sys-background) !important;
  --background-secondary: var(--sys-background-lighter) !important;
  --background-tertiary: var(--sys-background-alt) !important;
  --channeltextarea-background: var(--sys-selection) !important;
  --header-primary: var(--sys-foreground) !important;
  --interactive-muted: var(--sys-comment) !important;
  --interactive-normal: var(--sys-foreground) !important;
  --rs-dnd-color: var(--sys-red) !important;
  --rs-idle-color: var(--sys-orange) !important;
  --rs-invisible-color: var(--sys-comment) !important;
  --rs-offline-color: var(--sys-selection) !important;
  --rs-online-color: var(--sys-green) !important;
  --rs-streaming-color: var(--sys-purple) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--sys-comment) !important;
  --scrollbar-auto-scrollbar-color-track: var(--sys-background-alt) !important;
  --scrollbar-auto-thumb: var(--sys-comment) !important;
  --scrollbar-auto-track: var(--sys-background-alt) !important;
  --scrollbar-thin-thumb: var(--sys-comment) !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--sys-comment) !important;
}

.container-2cd8Mz {
  background-color: var(--sys-background) !important;
}

.autocomplete-3NRXG8 {
  background-color: var(--sys-background) !important;
}

.autocomplete-3jLKbj {
  background-color: var(--sys-background) !important;
}

.selected-3H3-RC {
  background-color: var(--sys-selection) !important;
}

.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--sys-background) !important;
}

.contentWrapper-3vHNP2,
.container-3u7RcY,
.wrapper-1NNaWG,
.wrapper-1NNaWG,
.inspector-DFKXwB,
.wrapper-22rqw6,
.listWrapper-2nHLP8,
.categoryItem-1sHzUv,
.guildIcon-2SUGiq,
.header-11eigE {
  background-color: var(--sys-background) !important;
}

.container-1SX9VC,
.container-2oNtJn {
  background-color: var(--sys-selection) !important;
}

.header-1w9Q93 {
  background-color: var(--sys-background);
}

.messagesPopout-eVzQcI {
  background-color: var(--sys-background-alt);
}

.messageGroupWrapper-1jf_7C {
  background-color: var(--sys-background);
}

.popout-3gby1q {
  background-color: var(--sys-background);
}

.searchBarComponent-18D6hD {
  background-color: var(--sys-background-alt);
}

.friendSelected-3cwmD7 {
  background-color: var(--sys-selection);
}

.anchor-1MIwyf {
  background-color: var(--sys-background);
}

.header-145e10,
.header-1w9Q93 {
  background-color: var(--sys-background);
}

.active-1grPyy {
  background-color: var(--sys-background-alt);
}

.messagesPopout-eVzQcI {
  background-color: var(--sys-background-alt);
}

.channelHeader-DFRX8q {
  background-color: var(--sys-background-alt);
}

.container-iA3Qrz {
  background-color: var(--sys-background-alt);
}

.messageContainer-3VTXBC {
  background-color: var(--sys-background);
}

.scroller-145h9c {
  background-color: var(--sys-background-alt);
}

.messages-23can0 {
  background-color: var(--sys-background);
}

.container-1A0qQO {
  background-color: var(--sys-background-alt);
}

code {
  color: var(--sys-foreground) !important;
}

span.hljs-built_in {
  color: var(--sys-purple) !important;
}

span.hljs-keyword {
  color: var(--sys-pink) !important;
}

span.hljs-title {
  color: var(--sys-cyan) !important;
}

span.hljs-attr {
  color: var(--sys-foreground) !important;
}

span.hljs-string {
  color: var(--sys-yellow) !important;
}

span.hljs-number {
  color: var(--sys-purple) !important;
}

span.hljs-symbol {
  color: var(--sys-orange) !important;
}

span.hljs-meta {
  color: var(--sys-foreground) !important;
}

span.hljs-meta-keyword {
  color: var(--sys-pink) !important;
}

span.hljs-meta-string {
  color: var(--sys-orange) !important;
}