* {
	all: unset;
}

.bar {
	margin: 4px 10px 4px 10px;
	background-color: @base00@;
	font-family: "Overpass Nerd Font";
	font-size: 1.5em;
	border-radius: 10px;
	color: @base0C@;
}

tooltip.background {
	background-color: @base00@;
	color: @base0C@;
	border-radius: 10px;
}

tooltip label {
    margin: 6px;
}

.battery_container {
	margin-right: 10px;
	color: @base0C@;

	.battery_icon {
		padding: 10px 10px;
		font-size: 1em;
	}

}

.separ {
	font-weight: bold;
//	margin-left: 10px;
}

.clock_container {
	.clock {
		margin-right: 10px;
	}
}


.system_icon {
	margin: 0px 10px 0px 10px;
}


.system_container {
	background-color: @base00@;
	border: 2px solid @base0C@;
	border-radius: 10px;
}


.calendar_container {
	background-color: @base00@;
	color: @base0C@;
	font-family: "Overpass Nerd Font";
	border: 2px solid @base0C@;
	border-radius: 10px;
	font-size: 1.2em;

	.calendar {
		padding: 8px;
	}

	.calendar:selected {
		color: @base0C@;
	}

	.calendar.header,
	.calendar.button {
		color: @base0C@;
		font-weight: bold;
	}

	.calendar.highlight {
		color: @base0C@;
		font-weight: bold;
	}

	.calendar:indeterminate {
		color: @base00@;
	}
}


.appname,
.workspaces {
	padding: 10px 6px;
        
}

/* Occupied */
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
	padding: 0px 3px 0px 3px;
	color: @base0C@;
        border: 2px solid transparent;
        border-radius: 20px;
}

/* Focused */
.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
	padding: 0px 3px 0px 3px;
	color: @base0C@;
	border: 2px solid @base0C@;
	border-radius: 20px;
}

/* Unoccupied */
.w0  {
	padding: 0px 3px 0px 3px;
	color: @base03@;
    border: 2px solid transparent;
    border-radius: 20px;
}
