* {
	all: unset;
	font-family: "@font@", sans-serif;

}

.bar {
	margin: 4px 10px 4px 10px;
	background-color: @base00@;
	font-size: 1.5em;
	border-radius: 10px;
	color: @base05@;
}

tooltip.background {
	background-color: @base00@;
	color: @base05@;
	border-radius: 10px;
}

tooltip label {
  margin: 6px;
}

tooltip {
  border: 2px solid @base0D@;
}

.icon {
  margin: 6px
}

// scale trough {
//   all: unset;
//   background-color: @base00@;
//   border-radius: 5px;
//   min-width: 10px;
//   margin: .3rem 0 .3rem 0;
// }

.battery_container {
	margin-right: 10px;
	color: @base05@;
  padding: 7px 0px;

	.battery_icon {
		padding: 15px;
		font-size: 1em;
	}

}

.separ {
	font-weight: bold;
//	margin-left: 10px;
}

.clock_container {
	.clock {
		margin-right: 10px;
	}
}


.system_icon {
	margin: 0px 10px 0px 10px;
}


.system_container {
	background-color: @base00@;
	border: 2px solid @base0D@;
	border-radius: 10px;
  padding: 10px;


  .stats_container {
    background-color: @base01@;
    border-radius: 5px;
    padding: 6px 3px;
    margin: 6px;
  }

  .circular_container {
    // padding: 60px;
    font-size: 25;
    padding: 6px 3px;
    margin: 6px;
    background-color: @base01@;
    border-radius: 5px;
  
    .disks {
      color: @base0A@;
    }
  
    .mem {
      color: @base0B@;
    }
  
    .cpu {
      color: @base0C@;
    }

  }  
}

.info_container {
	background-color: @base00@;
	color: @base05@;
	border: 2px solid @base0D@;
	border-radius: 10px;
	font-size: 1.2em;
}


.appname,
.workspaces {
	padding: 10px 6px;
        
}

@function darken-color($color, $amount) {
	@return darken($color, $amount);
}

.vpn_container {
	color: @base05@;
	padding: 10px 0px;

	 .toggle {
	 	background-color: gray;
	 	border-radius: 5px;

		.text {
			padding-left: 5px;
			background-color: @base00@;
		}
	}
}

/* Occupied */
.w01, .w02, .w03, .w04, .w05, .w06, .w07, .w08, .w09 {
	padding: 0px 3px 0px 3px;
	color: @base05@;
    border: 2px solid transparent;
    border-radius: 20px;
}

/* Focused */
.w011, .w022, .w033, .w044, .w055, .w066, .w077, .w088, .w099 {
	padding: 0px 3px 0px 3px;
	color: @base0D@;
	border: 2px solid @base0D@;
	border-radius: 20px;
}

/* Unoccupied */
.w0  {
	padding: 0px 3px 0px 3px;
	color: darken-color(@base03@, 0%);
    border: 2px solid transparent;
    border-radius: 20px;
}
